<div class="main">

    <div class="header mb-1">
        <img src="assets/svg/power.svg" alt="logout">
    </div>

    <div class="row main-row">

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0 sp">
            <div class="row content-h">
                <div class="w-100 mb-2">
                    <div class="white h-100 bg-p">
                        LT
                    </div>
                </div>
                <div class="w-100 mb-2">
                    <div class="white h-100 bg-p">
                        LM
                    </div>
                </div>
                <div class="w-100">
                    <div class="white h-100 bg-p">
                        LB
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0">
            <div class="row content-h">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 pe-0 r-1">
                    <div class="white h-100 bg-y">
                        R1
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ps-0 r-2">
                    <div class="white h-100 bg-y">
                        R2
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 mt-2 r-3">
                    <div class="white h-100 bg-y">
                        R3
                    </div>
                </div>
            </div>
        </div>
    </div>