<div class="main">

    <div class="header mb-1">
        <img src="assets/svg/power.svg" alt="logout">
    </div>

    <div class="row main-row">

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 left-h sp">
            <div class="row mb-2 h-50">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0 sp">
                    <div class="white h-100 bg-b">
                        LT
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
                    <div class="white h-100 bg-y">
                        MT
                    </div>
                </div>
            </div>
            <div class="row h-50">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0 sp">
                    <div class="white h-100 bg-b">
                        LM
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0 sp">
                    <div class="white h-100 bg-y">
                        MB
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0 sp">
            <div class="row right-h">
                <div class="w-100 mb-2">
                    <div class="white h-100 bg-p">
                        RT
                    </div>
                </div>
                <div class="w-100 mb-2">
                    <div class="white h-100 bg-p">
                        RM
                    </div>
                </div>
                <div class="w-100">
                    <div class="white h-100 bg-p">
                        RB
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>