<div class="main">
    <div class="header row mb-1"></div>
    <div class="row main-row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 left-h">
            <div class="row mb-2 h-50">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0">
                    <div class="white h-100"></div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
                    <div class="white h-100"></div>
                </div>
            </div>
            <div class="row h-50">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0">
                    <div class="white h-100"></div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
                    <div class="white h-100"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
            <div class="row right-h">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="white h-100"></div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="white h-100"></div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="white h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>