.main-wrapper {
    background: aliceblue;
    border-radius: 10px;
    height: calc(100vh - 0px);
    width: 100%;
    padding: 10px 40px;
}

.h-40 {
    height: 40% !important;
}

.h-20 {
    height: 20% !important;
}

.box {
    background-color: #fff;
    border: 1px solid #e3f2ff;
    box-shadow: 1px 1px 10px #d8d8ff;
    border-radius: 14px;
}