<div class="main">
    <div class="row pb-2 h-40 top-row">
        <div class="px-1 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="box">
                <ng-content select="[topLeft]"></ng-content>
            </div>
        </div>
        <div class="px-1 col-sm-12 col-md-5 col-lg-5 col-xl-5 top-right">
            <div class="box">
                <ng-content select="[Right]"></ng-content>
            </div>
        </div>
    </div>
    <div class="row pb-2 h-20 middle-row">
        <div class="px-1 col-xl-4 col-lg-4 col-md-4 col-sm-4 middle-left">
            <div class="box">
                <ng-content select="[middleLeft]"></ng-content>
            </div>
        </div>
        <div class="px-1 col-xl-4 col-lg-4 col-md-4 col-sm-4 middle-middle">
            <div class="box">
                <ng-content select="[middleMiddle]"></ng-content>
            </div>
        </div>
        <div class="px-1 col-xl-4 col-lg-4 col-md-4 col-sm-4 middle-right">
            <div class="box">
                <ng-content select="[middleRight]"></ng-content>
            </div>
        </div>
    </div>
    <div class="row pb-2 h-40 bottom-row">
        <div class="px-1 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class="box">
                <ng-content select="[bottomLeft]"></ng-content>
            </div>
        </div>
        <div class="px-1 col-sm-12 col-md-7 col-lg-7 col-xl-7 bottom-right">
            <div class="box">
                <ng-content select="[bottomRight]"></ng-content>
            </div>
        </div>
    </div>

</div>