.music-wrapper {
    border-radius: 24px;
    height: 80%;
    border: 1px solid #ededed;
}

audio {
    position: absolute;
    z-index: -1;
}

button {
    height: 40px;
    width: 60px;
    border: none;
    background: transparent;
    border-radius: 50%;

    img {
        height: 30px;
    }
}

.music-image {
    border-radius: 50%;
    height: 100px;
}

.rotate {
    animation: rotate360 5s infinite;
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}